<body>
  <section class="flex-wrapper">
    <section class="header-Logo">
      <img src="/img/Logo.svg" alt="PollApp-Logo" />
    </section>
    <section class="app-introduction">
      <section class="text-wrapper-left">
        <h1>Collect Feedback, <br />Unlock Ideas</h1>
        <span
          ><p>
            Create and share surveys in minutes – from team events to workplace culture. Collect
            opinions, engage your audience, and turn feedback into action.
          </p></span
        >
        <button class="primaryBtn">New survey</button>
      </section>
      <section class="img-wrapper-right">
        <img src="/img/header-IMG.svg" alt="Header-logo" />
      </section>
    </section>
  </section>
</body>
