@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin create-survey-radius {
  border-top-left-radius: 5px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@mixin create-input-radius {
  border-top-left-radius: 5px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
@mixin grow-left {
  transform-origin: left;
  transform: scaleX(1.5);
  transition: 0.3s;
}

@mixin grow-left($time: 0.5s, $ease: ease-in-out) {
  animation: fadeOutLeft $time $ease forwards;
  //background-color: #ffb770;
}
@mixin shrink-left($time: 0.5s, $ease: ease-in-out) {
  animation: fadeInLeft $time $ease forwards;
}

@keyframes fadeOutLeft {
  from {
    transform-origin: left;
    transform: scaleX(1);
  }
  to {
    transform-origin: left;
    transform: scaleX(1.3);
  }
}

@keyframes fadeInLeft {
  from {
    transform-origin: left;
    transform: scaleX(1);
  }
  to {
    transform-origin: left;
    transform: scaleX(0.75);
  }
}
