<section class="wrapper">
  <section class="question-wrapper">
    <fieldset class="question-name">
      <section class="info-wrapper">
        <label class="label" for="">1. Question</label>
        <img src="./img/delete.svg" alt="delete-button" />
      </section>
      <input class="input" type="text" />
    </fieldset>
    <section class="answer-wrapper">
      <fieldset class="info-wrapper">
        <label class="label" for="">Answers</label>
        <section class="input-wrapper">
          <label class="check">
            <input class="checkbox" type="checkbox" name="multiple-answers" id="checkbox" />
            <span class="input-check"></span>
          </label>
          <p>Allow multiple answers.</p>
        </section>
      </fieldset>

      <section class="inner-answer-wrapper">
        <fieldset class="answer-input">
          <label class="label">A.</label>
          <input class="input" type="text" />
          <img src="./img/delete.svg" alt="delete-button" />
        </fieldset>
        <fieldset class="answer-input">
          <label class="label">B.</label>
          <input class="input" type="text" />
          <img src="./img/delete.svg" alt="delete-button" />
        </fieldset>
      </section>
      <section class="add-answer">
        <section class="space"></section>
        <section class="add-answer__button">
          <h3>Add answer</h3>
          <img src="./img/add_circle.svg" alt="add_circle" />
        </section>
      </section>
    </section>
  </section>
  <button class="surveyBtn surveyBtn--addQuestion">
    <h3>Add next question</h3>
    <img src="./img/add_circle.svg" alt="add_circle" />
  </button>
</section>
