@use '../../../../pollapp_style/mixin' as mixin;

.forms-wrapper {
  position: relative;
  height: 629px;
  width: 100%;
  background-color: #8e709929;
  @include mixin.create-survey-radius;
  border-top-right-radius: 80px;
  padding: 40px 32px;

  .form-header {
    display: flex;
    border: none;
    gap: 64px;
    .survey-form__left {
      height: 134px;
      width: 470px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    .survey-form__right {
      width: 452px;
    }
  }
  .question-body {
    height: auto;
    max-height: 351px;
    width: 100%;
    margin-top: 64px;
    border: none;
  }
}
