<section class="forms-wrapper">
  <form [formGroup]="surveyForm">
    <fieldset class="form-header">
      <section class="survey-form__left">
        <label class="label" for="SurveyName">Survey name</label>
        <input class="input" type="text" id="survey-Name" formControlName="name" />
        <label class="label" for="end-date">Set end date (optional)</label>
        <input class="input" type="date" name="end-date" id="end-Date" formControlName="endDate" />
      </section>
      <section class="survey-form__right">
        <label class="label" for="description">Description text (optional)</label>
        <textarea class="textarea" name="Description" id="description" rows="4"></textarea>
      </section>
    </fieldset>

    <fieldset class="question-body">
      <app-question-form></app-question-form
      ><!--Test zu scss zwecken-->
    </fieldset>
  </form>
</section>
