<body>
  <section class="survey-wrapper">
    <section class="inner-wrapper">
      <section class="survey-header">
        <section class="header-left">
          <img src="./img/draft.svg" alt="survey-status-img" />
          <h2>Create new survey</h2>
        </section>
        <section class="header-right">
          <button class="surveyBtn">
            <h3>Cancel</h3>
            <img src="./img/close.svg" alt="close-symbol" />
          </button>
        </section>
      </section>
      <section class="survey-body">
        <!--Hier Survey-form implemnetieren-->
        <app-survey-form></app-survey-form>
      </section>
      <section class="btn-wrapper">
        <button class="primaryBtn">Publish</button>
      </section>
    </section>
  </section>
</body>
