<section class="question-wrapper">
  <fieldset class="question-name">
    <section class="info-wrapper">
      <label class="label" for="">{{ index() + 1 }}. Question</label>
      <button class="deleteBtn" (click)="onDeleteQuestion()">
        <img src="./img/delete.svg" alt="delete-button" />
      </button>
    </section>
    <input class="input input--header" type="text" [formControl]="controlQuestion" />
    @if (!controlQuestion.valid && controlQuestion.touched) {
      <label for="valiadtion"><p>Question need a Name !</p></label>
    }
  </fieldset>
  <section class="answer-wrapper">
    <fieldset class="info-wrapper">
      <label class="label" for="">Answers</label>
      <section class="input-wrapper">
        <label class="check">
          <input class="checkbox" type="checkbox" name="multiple-answers" id="checkbox" />
          <span class="input-check"></span>
        </label>
        <p>Allow multiple answers.</p>
      </section>
    </fieldset>

    <section class="inner-answer-wrapper">
      @for (answer of question().answers; track answer.id; let id = $index) {
        <fieldset class="answer-input">
          <!--<span>{{ answer.id }}</span>-->
          <label for="answer" class="label">{{ AnswerId[id] }}</label>
          <input
            (click)="answerID(answer.id)"
            class="input input--question"
            type="text"
            [formControl]="controlAnswer[id]"
          />
          @if (!controlAnswer[id].valid && controlAnswer[id].touched) {
            <label for="valiadtion-answer"
              ><p>{{ controlAnswer[id].valid }}</p></label
            >
          }
          <button class="deleteBtn" (click)="onDeleteAnswer(id)">
            <img src="./img/delete.svg" alt="delete-button-img" />
          </button>
        </fieldset>
      }
    </section>
    <section class="add-answer">
      <section class="space"></section>
      <button class="add-answer__button" (click)="onAddAnswer()" [style.display]="hideButton()">
        <h3>Add answer</h3>
        <img src="./img/add_circle.svg" alt="add_circle" />
      </button>
    </section>
  </section>
</section>
