@use '../../../../../pollapp_style/mixin' as mixin;
$Mulish: 'Mulish';
.forms-wrapper {
  position: relative;
  height: 629px;
  width: 100%;
  background-color: #8e709929;
  @include mixin.create-survey-radius;
  border-top-right-radius: 80px;
  padding: 40px 32px;

  .form-header {
    display: flex;
    border: none;
    gap: 64px;
    .survey-form__left {
      height: 134px;
      width: 470px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      .input-wrapper {
        height: 37px;
        width: 100%;
        display: flex;
        //flex-direction: column;
        align-items: center;
        gap: 10px;
      }
      .input-wrapper__2 {
        display: flex;
        justify-content: space-between;
        .input-wrapper__left {
          height: 63px;
          width: 256px;
          display: flex;
          flex-direction: column;
          gap: 4px;
        }
      }

      .input-wrapper--date {
        max-width: 256px;
        display: flex;
        align-items: center;
        gap: 8px;
      }
      .button-wrapper {
        height: 63px;
        width: calc(470px - 256px);
        //border: 1px solid #ffffff;
        display: flex;
        justify-content: flex-end;

        button {
          height: 26px;
          width: 206px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          background-color: transparent;
          border: 0;
          border-radius: 6px;
          margin-top: 4px;
          h3 {
            color: #ffffff;
            font-family: $Mulish;
          }
          img {
            height: 8px;
            width: 15px;
          }
          &:hover {
            cursor: pointer;
            //border: 1px solid blue;
            background-color: #f8d3ae3d;
          }
        }
      }
    }
    .survey-form__right {
      width: 452px;
      height: 134px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      img {
        height: 20px;
        width: 18px;
      }
      .survey-form__right--bottom {
        height: 108px;
        width: 452px;
        display: flex;
        gap: 8px;
      }
    }
  }
  .question-body {
    display: flex;
    gap: 91px; // muss evtl. variable gestaltet werden
    height: 350px;
    //min-height: 351px;
    width: 100%;
    margin-top: 64px;
    border: none;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }

    .add-question-wrapper {
      height: 100%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 34px 100px;
    }
  }
}
